Binaries
DerivedDataCache
Build
Intermediate
Content/__External*
Content/Characters
Content/Collections
Content/LevelPrototyping
Content/StarterContent
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace